.home-cards .cards a {
  color: rgb(70, 147, 214);
  font-size: 14px;
  font-weight: bold;
  padding-top: 30px;
}
.home-cards .cards a i {
  margin-left: 5px;
}
.home-cards .cards a i:hover {
  margin-left: 10px;
}
.home-cards .cards img {
  width: 100%;
}

.home-cards .cards p {
  font-size: 15px;
}
